[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://git.openembedded.org/openembedded-core
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "meta-tegra"]
	path = meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
[submodule "meta-example"]
	path = meta-example
	url = https://github.com/madisongh/meta-example.git
